@keyframes hori {
    from { width: 0 }
    to { width: 86% }
}

@keyframes fade-in {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

.title {
    height: fit-content;
    line-height: 1.1;
    font-size: 500%;
    width: fit-content;
    font-weight: 200;
    margin-top: 3%;
    font-family: 'Space Mono', sans-serif;
    color: #fff;
}

#about {
    width: 100%;
    border-right: #00ff40 2px solid;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(5), cursor .7s step-end infinite;
}

@keyframes cursor {
    50% { border-color: transparent;}
}

@keyframes typing {
    from { width: 0 }
}