
@keyframes fade-in {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
body {
    background-color: #0c0f0d;
}

.head {
    background-color:  #0c0f0d;
}
.title {
    height: fit-content;
    line-height: 1.1;
    font-size: 550%;
    width: 100%;
    font-weight: 200;
    margin-top: 10px;
    margin-left: 1.9%;
    font-family: 'Space Mono', sans-serif;
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: -1%;
}

#about {
    width: 280px;
    border-right: #00ff40 2px solid;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    animation: typing .7s steps(10), cursor .7s step-end infinite;
}

@keyframes cursor {
    50% { border-color: transparent;}
}

@keyframes typing {
    from { width: 0 }
}

.sect-1 {
    padding-top: 5%;
    position: relative;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: baseline;
    background-color: #0b2b13;
    height: fit-content;
    font-size: 135%;
    width: 100%;
    margin-left: -3%;
    padding-left: 5%;
    padding-right: 3%;
}

.abt {
    width: 92%;
    border: white 1px solid;
}

.abt-txt {
    font-weight: 400;
    width: 60%;
    height: fit-content;
    z-index: 9;
    position: absolute;
}

#abt-img {
    z-index: 8;
    position: absolute;
    height: 85%;
    right: 10%;
}
/* 
    put on all elements for fade-in:

    transform: translateY(20px);
    opacity: 0;

*/

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 600px) {
    .sect-1 {
        flex-direction: column;
    }
    .abt-txt {
        position: inherit;
    }
    #abt-img {
        position: inherit;
        width: 100%;
        height: 100%;
    }
}