
@keyframes fade-in {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
body {
    background-color: #0c0f0d;
}

.head {
    background-color:  #0c0f0d;
}
.title {
    height: fit-content;
    line-height: 1.1;
    font-size: 550%;
    width: 100%;
    font-weight: 200;
    margin-top: 10px;
    margin-left: 1.9%;
    font-family: 'Space Mono', sans-serif;
    color: #fff;
    letter-spacing: 2px;
    margin-bottom: -1%;
}

#about {
    width: 280px;
    border-right: #00ff40 2px solid;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(10), cursor .7s step-end infinite;
}

@keyframes cursor {
    50% { border-color: transparent;}
}

@keyframes typing {
    from { width: 0 }
}

.sect-1 {
    padding-top: 5%;
    position: relative;
    color: #ffffffe8;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: baseline;
    background-color: #0b2b13;
    height: 75vh;
    font-size: 135%;
    width: 100%;
    margin-left: -3%;
    padding-left: 5%;
    padding-right: 3%;
}

.abt {
    width: 92%;
}

.abt-txt {
    font-weight: 400;
    width: 55%;
    height: fit-content;
    z-index: 9;
    position: absolute;
}

#abt-trs {
    color: #fffad7a4;
}

#abt-img {
    z-index: 8;
    position: absolute;
    height: 500px;
    right: 10%;
    margin-top: .5%;
    opacity: .989;
}
/* 
    put on all elements for fade-in:

    transform: translateY(20px);
    opacity: 0;

*/

.sect-2 {
    width: 100%;
    margin-left: -3%;
    height: 50vh;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}
.sect-2-txt {
    font-weight: 500;
    font-size: 120%;
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    height: fit-content;
}
.sect-2-img {
    width: 30%;
    border-radius: 2px;
    height: 35vh;
    /* -webkit-box-shadow: 0px 0px 50px -9px rgba(87,87,87,1);
    -moz-box-shadow: 0px 0px 50px -9px rgba(87,87,87,1);
    box-shadow: 0px 0px 50px -9px rgba(87,87,87,1); */
}

#scene {
    height: 100%;
    width: 100%;
}

.skills-sect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-image: url('../res/stars.svg');
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: -3%;
    height: 230vh;
    border-top: #fff 1px solid;
}

.skl-ttl {
    margin-top: 3%;
    font-family: 'Space Mono', sans-serif;
    font-size: 370%;
    color: white;
    height: fit-content;
    width: 90%;
    margin-left: 4%;
}

#asterisk {
    font-size: 80%;
    vertical-align: super;
    color: #00ff40;
}

.skill-box, .skill-box-first {
    background-color: #0c0f0d;
    display: flex;
    width: 75%;
    height: 13vh;
    /* border: 1px white solid; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    /* margin for first */

}

.skill-box-first {
    margin-top: 2%;
}
.skill-img {
    width: 10%;
    height: 13vh;
    margin-right: 1%;
    margin-top: auto;
    margin-bottom: auto;
}

#img-skill {
    width: 90%;
    height: 100%;
}
.skill-bar {
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: auto;
    width: 85%;
    height: 3.3vh;
    border: 1px white solid;
}



.animated.skill.forty.start {
    width: 40%;
    background-color: white;
    height: 100%;
    overflow: hidden;
    transition: 2s ease;
    animation: forty 3s ease-out;
}

.animated.skill.sixty.start {
    width: 60%;
    background-color: white;
    height: 100%;
    overflow: hidden;
    transition: 2s ease;
    animation: sixty 3s ease-out;
}
.animated.skill.seventy.start {
    width: 70%;
    background-color: white;
    height: 100%;
    overflow: hidden;
    transition: 2s ease;
    animation: seventy 3s ease-out;
}
.animated.skill.eighty.start {
    width: 80%;
    background-color: white;
    height: 100%;
    overflow: hidden;
    transition: 2s ease;
    animation: eighty 3s ease-out;
}
.animated.skill.ninety.start {
    background-color: white;
    height: 100%;
    width: 90%;
    overflow: hidden;
    transition: 2s ease;
    animation: ninety 3s ease-out;
}


@keyframes ninety {
    from {width: 0%;}   
    to {width: 90%;}
}

@keyframes eighty {
    from {width: 0%;}   
    to {width: 80%;}
}

@keyframes seventy {
    from {width: 0%;}   
    to {width: 70%;}
}

@keyframes sixty {
    from {width: 0%;}   
    to {width: 60%;}
}

@keyframes forty {
    from {width: 0%;}   
    to {width: 40%;}
}

@media (max-width: 600px) {
    .sect-1,.sect-2 {
        flex-direction: column;
        height: fit-content;
    }
    .sect-2 {
        padding-left: 3%;
    }
    .abt-txt {
        font-size: 70%;
        width: 100%;
        position: inherit;
    }
    #abt-img {
        position: inherit;
        width: 100%;
        height: 100%;
    }
    .sect-2-txt {
        font-size: 70%;
        width: 100%;
    }
    .sect-2-img {
        margin-left: -3%;
        width: 80%;
    }
    .skill-box-first, .skill-box {
        height: 8vh;
        width: 100%;
    }
    .skill-bar {
        height: 2vh;
    }
    #img-skill {
        width: 100%;
        height: 60%;
    }
    .skl-ttl {
        font-size: 170%;
    }
}


